{% extends 'base.html.twig' %}

{% block body %}
    <div class="monFormulaire">
        {{ form_start(wishForm) }}
        <label class="label">
            {{ form_label(wishForm.title) }}
        </label>
        {{ form_widget(wishForm.title) }}
        <label class="label">
            {{ form_label(wishForm.auteur) }}
        </label>
        {{ form_widget(wishForm.auteur) }}
        {{ form_end(wishForm, {render_rest:false}) }}
    </div>
{% endblock %}

{% block title %}

{% endblock %}

