@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: lightgray;
}

.monFormulaire {
    @apply border-red-400 border-2 flex justify-center p-4;
}

input {
    @apply m-2 input input-bordered input-primary;
}
