<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Bucket-list{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"> {# notre google font #}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Asul:wght@400;700&display=swap">
    {# le favicon #}
    <link rel="icon"
          href="{{ asset('img/favicon.png') }}">
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}
</head>
<body>
<header>
    <div
            class="
            bg-gradient-to-br from-blue-950 to-red-300
    ">
        <h1 class="header-logo"><a href="{{ path('main_home') }}" title="Go back to homepage"> <img
                        src="{{ asset('img/logo.svg') }}" alt="Bucket-List Logo">Bucket-List </a></h1>
        <nav class="header-nav">
            <a href="{{ path('main_home') }}" title="Go back to homepage">Home</a>
            <a href="{{ path('wish_list') }}" title="Tous les souhaits">All wishes</a>
            <a href="{{ path('wish_new') }}" title="Ajouter un souhait">Add a wish</a>
            <a href="{{ path('main_about_us') }}" title="a propos">About us</a>
            {% if not app.user %}
                <a href="{{ path('app_login') }}" title="login">Login</a>
                <a href="{{ path('app_register') }}" title="register">Register</a>
            {% endif %}
            {% if app.user %}
                <a href="{{ path('app_logout') }}" title="logout">Logout</a>
            {% endif %}
        </nav>
    </div>
</header>
{# contenu principal de chaque page #}
<main>
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="flash-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <div class="container"> {% block body %}{% endblock %} </div>
</main>
{# pied-de-page du site #}
<footer>
    <div class="container">© Bucket-List {{ "now"|date("Y") }} </div>
</footer>
</body>
</html>